.footer_bottom{
    background-color: #353535;
    color: #f2f2f2;
}

.footer_infoAlcaldia{
    padding-top: 20px;
    font-size: small;
    padding-bottom: 20px;
}

p{
    padding: 0px;
    margin: 0px;
}

.letter_color{
    color: #9191fd;
}

.footer_middle{
    background-color: #4e4e4e;
    color: #f2f2f2;
    padding:30px;
}

img{
    height: 120px;
    width: 120px;
}