.news-card .card{
    width: 21rem;
    border: none;
}

.card-img-top{
    height: 15rem;
}

.card-body p{
    text-align: right;
    padding-bottom: 3px;
    padding-top: 3px;
}

.button_view_more{
    text-align: end;
    padding-bottom: 12px;
}

.new-tittle{
    font-size: 1.50em;
    text-align: center;
}